@model SeuProjeto.Models.Usuario

<h2>Cadastrar Usuário</h2>

<form asp-action="Create" method="post">
    <div>
        <label>ID:</label>
        <input asp-for="ID" />
    </div>
    <div>
        <label>Nome:</label>
        <input asp-for="Nome" />
    </div>
    <div>
        <label>Matrícula:</label>
        <input asp-for="Matricula" />
    </div>
    <div>
        <label>Função:</label>
        <input asp-for="Funcao" />
    </div>
    <button type="submit">Salvar</button>
</form>
